* {
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
  /* outline: 1px solid green; */
}

.container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.navbar {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  background-color: #4285f4;
}

.navbar-nav {
  display: flex;
  flex: 1;
  width: fit-content;
}

.nav-item {
  margin: 5px 5px;
}

.nav-link {
  display: block;
  text-decoration: none;
  padding: 15px;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
}

.ms-auto {
  margin-left: auto;
  margin-right: 0px;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.m-3 {
  margin: 3px;
}

.m-10 {
  margin: 10px;
}

.ta-justify {
  text-align: justify;
}

.ta-center {
  text-align: center;
}

.button {
  min-width: 75px;
  width: auto;
  letter-spacing: 0.5px;
  line-height: 30px;
  padding: 0 5px 0 5px;
  background-color: #4285f4;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.button:hover {
  background-color: #357ae8;
  border: none;
}

.group {
  position: relative;
  margin: 45px 0;
}

.form-input {
  background: none;
  background-color: white;
  color: grey;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  margin: 25px 0;
  resize: none;
}

.form-input:focus {
  outline: none;
}

.form-input-label {
  color: grey;
  font-size: 15px;
  font-weight: normal;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.fit-content {
  width: fit-content;
}

.form-control {
  width: 100%;
}

.card {
  display: block;
  flex-direction: column;
  width: 300px;
}

.truncate {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
