* {
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
  /* outline: 1px solid green; */
}

.container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.navbar {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  background-color: #4285f4;
}

.navbar-nav {
  display: flex;
  flex: 1;
  width: fit-content;
}

.nav-item {
  margin: 5px 5px;
}

.nav-link {
  display: block;
  text-decoration: none;
  padding: 15px;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
}

.ms-auto {
  margin-left: auto;
  margin-right: 0px;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.m-0 {
  margin: 0px;
}

.m-3 {
  margin: 3px;
}

.m-10 {
  margin: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.ta-justify {
  text-align: justify;
}

.ta-center {
  text-align: center;
}

.button {
  min-width: 75px;
  width: auto;
  letter-spacing: 0.5px;
  line-height: 30px;
  padding: 0 5px 0 5px;
  background-color: #4285f4;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.button:hover {
  background-color: #357ae8;
  border: none;
}

.group {
  position: relative;
  margin: 45px 0;
}

.form-input {
  background: none;
  background-color: white;
  color: grey;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  margin: 25px 0;
}

textarea {
  resize: none !important;
}

.form-input:focus {
  outline: none;
}

.form-input-label {
  color: grey;
  font-size: 15px;
  font-weight: normal;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fit-content {
  width: fit-content;
}

.form-control {
  width: 100%;
}

.card {
  display: block;
  flex-direction: column;
  width: 300px;
}

.card > hr {
  width: 90%;
}

.card-item {
  overflow: hidden;
}

.truncate {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box {
  display: flex;
  flex-wrap: wrap;
  width: 1230px;
  gap: 10px;
}

.box > * {
  flex: 0 0 300px;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  gap: 8px;
}

.sorting > * {
  flex: 1 1;
}

#depgrid {
  display: grid;
  grid: max-content / max-content max-content max-content max-content;
}

.w-500 {
  width: 500px;
}

.h-40 {
  height: 40px;
}

.h-60 {
  height: 56px;
}
